---
import SectionTitle from "../common/section-title.astro";
import EducationCard from "./education-card.astro";
---

<section
  id="education"
  class="mx-auto mt-28 flex max-w-screen-md flex-col items-center gap-5 px-4 pt-4"
>
  <SectionTitle>Educational Background</SectionTitle>
  <p class="max-w-[400px] text-pretty text-center text-neutral-400">
    A peek into my educational background and learning experiences.
  </p>
  <div class="grid gap-6 sm:grid-cols-2">

    <EducationCard
      subtitle="BS INFORMATION TECHNOLOGY"
      title="University of Rizal System - Binangonan"
      duration="From 2022 to 2025"
      description="lorem ipsum"
      href="https://urs.edu.ph/"
      className="intersect:slide-in-from-left-12"
    />

  </div>
</section>
