:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250;
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  --background-color: #191627;
  --background-color-sub: #333645;
  --background-color-card: #211D35;
  --footer-background-color: #100E1B;
  --title-color: #FFFFFF;
  --text-color: #FFFFFF;
  --text-highlight-gradient-1: linear-gradient(to left, #B374F8, #6fb4fd);
  --text-highlight-gradient-2: linear-gradient(to right, #6fb4fd, #B374F8);
  --text-highlight-2: #9E8FEA;
  --text-color-alt: #D0DFFF;
  --text-color-sub: #e5ebf0;
  --text-color-sub-white: #fff;
  --icon-color: #6E57E0;
  --button-color: #6E57E0;


  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 800;

  /*========== Margines ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}


/*==================== BASE ====================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--background-color);
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

}

header {
  z-index: 9999; /* Ensures the header stays on top of other elements */
}

h1 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

h2,
h3,
h4 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

p {
  color: var(--text-color-sub);
  font-weight: var(--font-normal);
  font-size: var(--normal-font-size);
  line-height: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*==================== RE-USABLE VARIABLES ====================*/

/* button DESIGN BEFORE ANIMATION */
button {
  position: relative;
  z-index: 1;
  padding: 10px 0;
  text-align: center;
  border-radius: 25px;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  border: var(--button-color);
  border-width: 2px;
  background-color: var(--button-color);
  color: var(--text-color);
  cursor: pointer;
  overflow: hidden;
}

/* button SPAN BG: DURING ANIMATION  */
button span {
  background-color: var(--button-color);
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.2s;
}

/* button HOVER with SPAN BG */
button:hover span {
  width: 100%;
  z-index: 2;
  /* Set a positive value to ensure it covers the button */
}

/* button HOVER: DURING ANIMATION  */
button:hover {
  color: var(--text-color);
  border: var(--button-color);
  border-width: 2px;
  box-shadow: 0 0 10px var(--button-color);
}

button:hover span:hover {
  box-shadow: none;
  /* add this line */
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
  color: var(--icon-color);
}


#section-title {
  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  padding: 50px 30px 50px;

  /* DESIGN */
  overflow-wrap: break-word;
  /* allow words to break to the next line */
  font-size: var(--h1-font-size);
}

#section-title::after {
  display: block;
  float: right;
  margin-top: .8em;
  /* half the line-height */
  border-top: 1px solid #303C55;
  width: 50%;
  content: "";
}






/*==================== NAVIGATION ====================*/


/* logo */
.logo {
  width: 32px;
  cursor: pointer;
}

/* navBar position */
.navBar {
  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  padding: 20px 30px 20px;
  width: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* navBar spacing */
.navBar-Buttons ul li {
  list-style: none;
  display: inline-block;
  /* display: none; */
  margin: 0 20px;
  position: relative;
}

/* navBar design */
.navBar-Buttons ul li a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: normal;
}

/* navBar ACTIVE MARK design */
.navBar-Buttons ul li a.active {
  font-weight: bold;
  background: var(--text-highlight-gradient-2);
}

/* navBar design, ACTION where hovered */
.navBar-Buttons ul li:hover a {
  font-weight: bold;
  color: var(--text-highlight-2);
  text-shadow: 0 0 20px var(--button-color);
  /* Set the text shadow with multiple layers to create the neon effect */
}

/* navBar design, ACTION AFTER HOVERING */
.navBar-Buttons ul li::after {
  content: ' ';
  height: 3px;
  width: 0;
  background: var(--text-highlight-gradient-2);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

/* navBar design, ACTION AFTER HOVERING */
.navBar-Buttons ul li:hover::after {
  width: 100%;
}




/*==================== HOME ====================*/


/* class BANNER */
.home-container {
  width: 100%;
  height: fit-content;
}


#typing-myname {
  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  padding: 50px 30px 0px;

  overflow-wrap: break-word;
  font-size: var(--big-font-size);
}

#typing-myname color {
  background: var(--text-highlight-gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* body content design OF PROFESSION */
#profession {
  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  padding: 0px 30px 0px;

  /* DESIGN */
  overflow-wrap: break-word;
  /* allow words to break to the next line */
  font-size: var(--h2-font-size);
  animation: typing 3s steps(30, end) infinite;
}


/* body content design OF short-intro */
#short-intro {

  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  padding: 30px 30px 0px;

  /* DESIGN */
  overflow-wrap: break-word;
  /* allow words to break to the next line */
}


.mailButton button {
  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  margin: 30px 25px 50px;
  width: 100px;
  height: auto;
}




/*==================== ABOUT ====================*/


.about-container {
  width: 100%;
  height: fit-content;
}

.id-frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  max-width: 70%;
  transition: 0.3s;
  border-radius: 10px;

  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  padding: 0px 0px 20px;
}

.id-image {
  position: relative;
  width: 150px;
  height: 150px;
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(100 255 218 / 40%), rgba(100 255 2180 / 40%)), url(assets/me.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.id-image:hover {
  position: relative;
  width: 150px;
  height: 150px;
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(100 255 218 / 0%), rgba(100 255 2180 / 0%)), url(assets/me.png);
  background-repeat: no-repeat;
  background-size: cover;
}


#about-intro {
  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  padding: 30px 30px 0px;

  /* DESIGN */
  overflow-wrap: break-word;
  /* allow words to break to the next line */
}

#about-intro color {
  color: var(--text-highlight-2);
  font-weight: var(--font-medium);
}


.resumeButton button {
  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  margin: 50px 25px 50px;
  width: 200px;
  height: auto;
}








/*==================== SKILLS ====================*/

.skills-card {
  display: grid;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  /* Center the card horizontally */
  max-width: 80%;
  /* Set a maximum width for the container if needed */
  background: var(--background-color-card);
  backdrop-filter: blur(5px);
  /* Apply the blur effect */
  transition: 0.3s;
  border-radius: 0.25rem;
  /* 10px rounded corners */
  padding: 10px;
  /* Add padding to create some space between the content and the container edges */
}

.skills-card:hover {
  box-shadow: 0 0 10px var(--button-color);
  /* Set the text shadow with multiple layers to create the neon effect */

  /*animation while hovering */
  transform: scale(1.02);
  opacity: 0.9;

}


#skills-intro {
  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  padding: 30px 30px 5px;

  /* DESIGN */
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-2-5);
  text-align: center;
  color: var(--text-color-sub-white);
}


.skills__container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 30px 30px;
}

.skills__container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, opacity 0.3s;
}

.skills__container-box:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.skills__container-img {
  height: 40px;
  width: 40px;
}

.skills__container-img:hover {
  box-shadow: 0 0 30px var(--text-color-sub-white);
  /* Add a light shadow */
}

.skills__container-name {
  font-size: var(--smaller-font-size);
  display: block;
  text-align: center;
}






/*==================== SERVICES ====================*/

.services__container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  display: grid;

  margin: 0 auto;
  /* Center the card horizontally */
  max-width: 80%;
  /* Set a maximum width for the container if needed */
  backdrop-filter: blur(5px);
  /* Apply the blur effect */

}

.services__content {
  position: relative;
  background-color: var(--background-color-card);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, opacity 0.3s;
}

.services__content:hover {
  box-shadow: 0 0 10px var(--button-color);
  /* Set the text shadow with multiple layers to create the neon effect */

  /*animation while hovering */
  transform: scale(1.05);
  opacity: 0.9;

}

.services__icon {
  display: block;
  font-size: 1.5rem;
  color: var(--icon-color);
  margin-bottom: var(--mb-1);
}

.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.services__button {
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transform: 0.3s;
}

.services__modal-content {
  position: relative;
  background-color: var(--background-color-card);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.services__modal-services {
  row-gap: 1rem;
}

.services__modal-service {
  display: flex;
}

.services__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.services__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--icon-color);
  cursor: pointer;
}

.services__modal-icon {
  color: var(--icon-color);
  margin-right: var(--mb-0-25);
  cursor: pointer;
}

/* Active Modal */

.active-modal {
  opacity: 1;
  visibility: visible;
}

.disable-scroll {
  overflow: hidden;
}




/*==================== CONTACT ME ====================*/

.contact__container {
  row-gap: 3rem;
  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  padding: 0px 30px 20px;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}
.contact__icon {
  font-size: 2rem;
  color: var(--icon-color);
  margin-right: var(--mb-0-75);
}
.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-sub);
}

.contact__form {
  display: grid;
}

.contact__content {
  background-color: var(--background-color-card);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
  margin-bottom: 1.5rem;
}
.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}
.contact__input {
  width: 100%;
  background-color: var(--background-color-card);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.emailButton button {
  /* POS: TOP, LEFT & RIGHT, BOTTOM */
  margin: 10px 4px 50px;
  width: 150px;
  height: auto;
}








/*==================== FOOTER ====================*/


.footer {
  background-color: var(--footer-background-color);
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  padding: 30px;
  font-size: var(--small-font-size);
  font-weight: var(--font-normal);
  text-align: center;
  color: var(--text-color-sub-white);
}