*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* class BANNER */
.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(25, 53, 73,0.05), rgba(10, 25, 47,0.05)), url(assets/background8.png); 
    background-size: cover;
    background-position: center;
}


/* logo */
.logo {
    width: 120px;
    cursor: pointer;
}

/* navBar position */
.navBar {
    width: 85%;
    margin: auto;
    padding: 35px 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* navBar spacing */
.navBar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

/* navBar design */
.navBar ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
}

/* navBar design, ACTION where hovered */
.navBar ul li:hover a {
    font-weight: bold;
  }
  
/* navBar design, ACTION AFTER HOVERING */
.navBar ul li::after {
    content: ' ';
    height: 3px;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.50));
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* navBar design, ACTION AFTER HOVERING */
.navBar ul li:hover::after {
    width: 100%;
}

/* body content layout */
.bodyContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    padding-left: 10%;
    color: #fff;
}


/* body content design OF HEADER 4 */
.bodyContent h4 {
    font-family: 'Aldrich', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

#typing-myname {
    font-family: 'Aldrich', sans-serif;
    font-weight: bold;
    font-size: 60px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 3s steps(30, end) infinite;
  }

/* body content design OF HEADER 4 */
.bodyContent p {
    font-family: 'Aldrich', sans-serif;
    font-weight: normal;
    font-size: 40px;
    font-weight: normal;
}

/* button DESIGN BEFORE ANIMATION */
button {
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: rgba(255, 255, 255, 0.40);
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* button SPAN BG: DURING ANIMATION  */
button span {
    background-color: rgba(255, 255, 255, 0.90);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

/* button HOVER with SPAN BG */
button:hover span {
    width: 100%;
}

/* button HOVER: DURING ANIMATION  */
button:hover {
    color: #9C00AC;
    border: none;
}