---
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<a
  href={href}
  class="p-4 leading-[1] hover:underline hover:decoration-sky-400 hover:underline-offset-2"
>
  {text}<span class="text-sky-400">();</span>
</a>
