---
// file: src\components\header\header-link.astro
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
const normalizedHref = href.startsWith("#") ? `/${href}` : href;
---

<a href={normalizedHref} class="p-4 text-sm md:text-base leading-[1] hover:underline hover:decoration-sky-400 hover:underline-offset-2">
  {text}<span class="text-sky-400">();</span>
</a>
