---
// src/components/common/Scrollify.astro
---

<!-- Scrollify Progress Bar -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/emmanpbarrameda/scrollify-js@latest/scrollify-scrollprogress-indicator.css" media="print" onload="this.media='all'" />

<div class="scrollify_scroll_progress" data-height="1.5px" data-background="linear-gradient(to right, #38bdf8, #22d3ee, #2563eb)" data-z-index="10000" data-top="0px"></div>

<script is:inline src="https://cdn.jsdelivr.net/gh/emmanpbarrameda/scrollify-js@latest/scrollify-scrollprogress-indicator.js" defer></script>
