---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/aileron/400.css";
import "@fontsource/aileron/700.css";
import "@fontsource/aileron/800.css";

import Scrollify from "../components/common/scrollify.astro";
import BackToTop from "../components/common/back-to-top.astro";
import Background from "../components/common/background.astro";
import MetaTags from "../components/common/meta-tags.astro";
import { infos } from "../data/infos.js";
import clientGuards from "../layouts/main-layout.js?raw";
---

<!doctype html>
<html lang="en" class="scroll-pt-[64px] overflow-x-hidden antialiased">
  <head>
    <MetaTags />
    <title>{infos.main_title}</title>
  </head>

  <body class="bg-neutral-950 font-aileron text-neutral-50" oncontextmenu="return false;">
    <!-- Loading Screen -->
    <!-- <LoadingScreen /> -->

    <!-- Content -->
    <Scrollify />
    <slot />
    <Background />
    <BackToTop />

    <!-- Lenis Scroll JS -->
    <script is:inline type="module" src="/js/lenis.client.js"></script>

    <!-- Intersection Observer -->
    <script is:inline defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>

    <!-- Guard-->
    <script is:inline set:html={clientGuards} />
  </body></html
>
